<div id="<%= dom_id course_detail %>">
  <p>
    <strong>Name:</strong>
    <%= course_detail.name %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= course_detail.course_id %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= course_detail.deleted %>
  </p>

</div>
