<h1>Editing course detail</h1>

<%= render "form", course_detail: @course_detail %>

<br>

<div>
  <%= link_to "Show this course detail", @course_detail %> |
  <%= link_to "Back to course details", course_details_path %>
</div>
