<div id="<%= dom_id skill %>">
  <p>
    <strong>Name:</strong>
    <%= skill.name %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= skill.deleted %>
  </p>

  <p>
    <strong>User:</strong>
    <%= skill.user_id %>
  </p>

</div>
