<div id="<%= dom_id skill_detail %>">
  <p>
    <strong>Name:</strong>
    <%= skill_detail.name %>
  </p>

  <p>
    <strong>Skill:</strong>
    <%= skill_detail.skill_id %>
  </p>

  <p>
    <strong>Ratio:</strong>
    <%= skill_detail.ratio %>
  </p>

</div>
