<h1>Editing skill detail</h1>

<%= render "form", skill_detail: @skill_detail %>

<br>

<div>
  <%= link_to "Show this skill detail", @skill_detail %> |
  <%= link_to "Back to skill details", skill_details_path %>
</div>
