  <section class="about" id="about">
    <div class="max-width">
      <h2 class="title">Acerca de mí</h2>
      <div class="about-content">
        <div class="column left">
          <img src="/assets/images/main_background_image.jpg" alt="">
        </div>
        <div class="column right">
          <div class="text">Soy de Perú-Lima y soy un <span class="typing-2">Ingeniero de Softwar</span><span class="typed-cursor">|</span></div>
          <p>Ofrezco una vasta experiencia aprovechando la Ingeniería de Software con I.A y las metodologías
            necesarias para ofrecer soluciones altamente creativas a los desafíos empresariales y tecnológicos.
            Utilizo habilidades analíticas y diversos lenguajes de programación como Python, JavaScript,
            PHP, entre otros; con el fin de desarrollar estrategias comerciales y de TI que emplean tecnologías
            de vanguardia para aumentar la productividad. Soy altamente organizado, y priorizo la carga de trabajo,
            delego entregables y me dirijo siempre hacia la finalización de un proyecto dentro de los plazos
            establecidos.</p>
          <a href="https://drive.google.com/file/d/157XRWEkSlXm42MB0631wKsU51XLQdmwp/view?usp=sharing">Ver CV / HV</a>
        </div>
      </div>
    </div>
  </section>