<section class="home" id="home">
  <div class="max-width">
    <div class="home-content">
      <div class="text-1">Hola, mi nombre es : </div>
      <div class="text-2">
      <% if current_user.present? %>  
        <%= current_user.first_name %>
        <%= current_user.second_name %>
        <%= current_user.first_surname %>
        <%= current_user.second_surname %>      
      <% else %>
      Carlos Alexander
      <% end %>

      </div>
      <div class="text-3">Y soy un <span class="typing">Programador...</span><span class="typed-cursor typed-cursor--blink">|</span></div>
      <a href="#contact" class="menu-btn">
        
        Contáctame <i class="fa fa-user"></i>
      </a>

      <a href="https://wa.link/goyjwb" class="menu-btn">
        
        Whatsapp <i class="fa fa-phone"></i>
      </a>

      <a href="tel:+51999999" class="menu-btn">
        
        Llámame <i class="fa fa-phone"></i>
      </a>      

    </div>
  </div>
</section>
