  <style>
    iframe {
      display: block;
      width: 90vw;
      height: calc(75 * 90cw);
      max-width: 4000px;
      max-height: 1050px;
      margin: auto;
      border: solid 2px gray;
      box-shadow: 2px 2px 2px silver;
      border-radius: 4px;
    }
  </style>

  <section class="mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.67614414273!2d-77.00107934937999!3d-11.996896506769197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c583186ac403%3A0xd54fa14ff60ef45!2sMercado%20Los%20Vencedores!5e0!3m2!1ses!2spe!4v1634759844234!5m2!1ses!2spe" width="1910" height="750" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </section>