  <section class="services" id="services">
    <div class="max-width">
      <h2 class="title">Mis servicios</h2>
      <div class="serv-content">
        <div class="card">
          <div class="box">
            <i class="fas fa-paint-brush"></i>
            <div class="text">Diseño creativo de páginas Web</div>
            <p>Realizo un estilo único incorporando imágenes, iconos, botones, funciones click y fondos llamativos
              que capten la temática principal, utilizando herramientas de creación web para diseñar sus propios sitios.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="box">
            <i class="fas fa-chart-line"></i>
            <div class="text">Desarrollador de software</div>
            <p>Realizo procesos relacionados a la creación y diseño de nuevos sistemas, partiendo de la planificación
              inicial, estableciendo parámetros, diseño, escritura, código, encriptar y probar.</p>
          </div>
        </div>
        <div class="card">
          <div class="box">
            <i class="fas fa-code"></i>
            <div class="text">Lenguajes de programación</div>
            <p>Empleo diversos lenguajes de programación, como Python, JavaScript, PHP, entre otros. Para así
              desarrollar programas de diversa naturaleza, como manejadores de base de datos o sistemas operativos.</p>
          </div>
        </div>
      </div>
    </div>
    
  </section>