  <section class="teams" id="teams">
    <div class="max-width">
      <h2 class="title">Mis Equipos</h2>
      <div class="carousel owl-carousel owl-loaded owl-drag">
        
        
        
        
        
      <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1160px, 0px, 0px); transition: all 0.25s ease 0s; width: 4254px;"><div class="owl-item cloned" style="width: 366.667px; margin-right: 20px;"><div class="card">
          <div class="box">
            <img src="compañero3A.jpg" alt="">
            <div class="text">Marketing y Contabilidad</div>
            <p>Marcos Leon , responsable en la evaluación de oportunidades de negocio ,
              planifica estrategias de atracción al cliente. Analista y Orador.</p>
          </div>
        </div></div><div class="owl-item cloned" style="width: 366.667px; margin-right: 20px;"><div class="card">
          <div class="box">
            <img src="compañero4A.jpg" alt="">
            <div class="text">Diseño y desarrollo Web</div>
            <p>Jessy Gonzales , diseñadora experta en páginas Web , énfasis en el diseño y
              la programación de una interfaz gráfica interactiva y fácil de usar. Autocrítica y creativa.</p>
          </div>
        </div></div><div class="owl-item cloned" style="width: 366.667px; margin-right: 20px;"><div class="card">
          <div class="box">
            <img src="compañero5A.jpg" alt="">
            <div class="text">Diseño Gráfico Digitalizado</div>
            <p>Sol Romero, estratégica en campañas publicitarias, ilustraciones y animaciones
              únicas, transmite un arte visual. Es objetiva y creativa.</p>
          </div>
        </div></div><div class="owl-item active" style="width: 366.667px; margin-right: 20px;"><div class="card">
          <div class="box">
            <img src="compañero1A.jpg" alt="">
            <div class="text">Administrador de Empresas</div>
            <p>Jerson Briceño , organizador y objetivo en el control eficiente de
              recursos y desempeño laboral. Líder de empresa , analista y eficiente en
              las partes de un negocio.</p>
          </div>
        </div></div><div class="owl-item active" style="width: 366.667px; margin-right: 20px;"><div class="card">
          <div class="box">
            <img src="compañero2A.jpg" alt="">
            <div class="text">Computación e Infomática</div>
            <p>Jimena Rios , experta en la creación y desarrollo de sistemas automatizados
              de datos o información en el ámbito de la tecnología computacional.</p>
          </div>
        </div></div><div class="owl-item active" style="width: 366.667px; margin-right: 20px;"><div class="card">
          <div class="box">
            <img src="compañero3A.jpg" alt="">
            <div class="text">Marketing y Contabilidad</div>
            <p>Marcos Leon , responsable en la evaluación de oportunidades de negocio ,
              planifica estrategias de atracción al cliente. Analista y Orador.</p>
          </div>
        </div></div><div class="owl-item" style="width: 366.667px; margin-right: 20px;"><div class="card">
          <div class="box">
            <img src="compañero4A.jpg" alt="">
            <div class="text">Diseño y desarrollo Web</div>
            <p>Jessy Gonzales , diseñadora experta en páginas Web , énfasis en el diseño y
              la programación de una interfaz gráfica interactiva y fácil de usar. Autocrítica y creativa.</p>
          </div>
        </div></div><div class="owl-item" style="width: 366.667px; margin-right: 20px;"><div class="card">
          <div class="box">
            <img src="compañero5A.jpg" alt="">
            <div class="text">Diseño Gráfico Digitalizado</div>
            <p>Sol Romero, estratégica en campañas publicitarias, ilustraciones y animaciones
              únicas, transmite un arte visual. Es objetiva y creativa.</p>
          </div>
        </div></div><div class="owl-item cloned" style="width: 366.667px; margin-right: 20px;"><div class="card">
          <div class="box">
            <img src="compañero1A.jpg" alt="">
            <div class="text">Administrador de Empresas</div>
            <p>Jerson Briceño , organizador y objetivo en el control eficiente de
              recursos y desempeño laboral. Líder de empresa , analista y eficiente en
              las partes de un negocio.</p>
          </div>
        </div></div><div class="owl-item cloned" style="width: 366.667px; margin-right: 20px;"><div class="card">
          <div class="box">
            <img src="compañero2A.jpg" alt="">
            <div class="text">Computación e Infomática</div>
            <p>Jimena Rios , experta en la creación y desarrollo de sistemas automatizados
              de datos o información en el ámbito de la tecnología computacional.</p>
          </div>
        </div></div><div class="owl-item cloned" style="width: 366.667px; margin-right: 20px;"><div class="card">
          <div class="box">
            <img src="compañero3A.jpg" alt="">
            <div class="text">Marketing y Contabilidad</div>
            <p>Marcos Leon , responsable en la evaluación de oportunidades de negocio ,
              planifica estrategias de atracción al cliente. Analista y Orador.</p>
          </div>
        </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div></div>
    </div>
  </section>